<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a new Recipe</title>
</head>
<body>
    <h1> Add a New Recipe</h1>
    <a href="/user/logout">Logout</a>
    <a href="/dashboard">Dashboard</a>
    <form action ="/recipe/{{recipe.id}}/update/" method="post">
        <input type="hidden" name="id" value="{{recipe.id}}">
        <div>
            <label for="name">name</label>
            <input type="text" name="name" id="name" value="{{recipe.name}}">
        </div>
        <div>
            <label for="description">Description</label>
            <textarea name="description" rows="20" cols="30">{{recipe.description}}</textarea>
        </div>
        <div>
            <label for="instructions">Instructions</label>
            <textarea name="instructions" rows="20" cols="30">{{recipe.instructions}}</textarea>
        </div>
        <div>
        <label for="date_made_on">Date Made On</label>
        <input type="date" id="date_made_on" name="date_made_on" value="{{recipe.date_made_on.strftime('%Y-%m-%d')}}"> <!-- The strftime() method takes one or more format codes as an argument and returns a formatted string based on it. -->
        </div>
        <div>
            {% if recipe.under_30_mins == 1 %}
            <input type="radio" id="under_30_mins" name="under_30_mins" value="1" checked>
            <label for="yes">yes</label><br>
            {% else %}
            <input type="radio" id="under_30_mins" name="under_30_mins" value="1" checked>
            <label for="yes">yes</label><br>
            {% endif %}
            {% if recipe.under_30_mins == 0 %}
            <input type="radio" id="under_30_mins" name="under_30_mins" value="0" >
            <label for="no">no</label><br>
            {% else %}
            <input type="radio" id="under_30_mins" name="under_30_mins" value="0" >
            <label for="no">no</label><br>
            {% endif %}
        </div>
        <button>Update</button>
    </form>
</body>
</html>